*,
*::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: none;
	text-decoration: none;
	text-align: center;
	font-weight: 500;
}

:root {
	--white: #fff;
	--red: red;
	--navbottom-bg: #fafdff;
	--navbottom-links-bottom-line: rgba(184, 184, 184, 0.667);
	--blackRgba: rgba(40, 39, 38, 0.579);
	--navbottom-underline: rgba(34, 255, 141, 0.987);

	--edo-color: #587380;
	--edo-hvr-btn: #3d4f58;
	--inp-bg: rgba(194, 194, 194, 0.295);
	--inp-outline-focus: rgb(39, 151, 255);
}

/* @font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
} */

/* Global classes */
.sections {
	padding-top: 10px;
	padding-bottom: 20px;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 75px;
}

.sections__title {
	font-size: 20px;
	font-weight: 600;
}

.sections__desc {
	font-size: 14px;
	font-weight: 400;
}

.btn {
	border: none;
	border-radius: 10px;
}

.pagination__content {
	display: flex;
	justify-content: center;
	align-items: center;
}
